<div class="jumbotron">
	<div class="container">
		<h1> Our goal is to<br>Enter yout text</h1>
			<p>This is a template for a simple marketing or informational website. It includes a large callout jumbotron and <strong>three supporting pieces of content.</strong> Use it as a starting point to create something more unique</p>
			<a class="btn btn-danger btn-lg" role="button">Get Involved</a>
  	 <h1><span class="glyphicon glyphicon-thumbs-up"></span></h1>
 </div>
</div>

<div class="container homepage">
  <%= image_tag("https://dl.dropboxusercontent.com/s/h928ac8z7u0frkw/tree.jpeg") %>
  <h2>Who We Are</h2>
  <hr/>
  <p>Who we are text can go here.  Enter a cool description of what you do & you can include you goals as well </p>

<div class="container homepage">
	<h2>Get Involved</h2>
	<hr>
	<div class="row">
		<div class="col-md-4">
  			<span class="fa-stack fa-4x">
             <i class="fa fa-users fa-stack-2x"></i>
             <i class="fa fa-users fa-users-1x fa-inverse"></i>
          </span>
   		   <h3>About Us</h3>
		      <p>About us text goes here, you can <span class="emphasis">include the aims and goals</span> of the companies also. Click the button below to get more information  </p>
		      <p><a class="btn btn-default" href="#" role="button">Start Learning &raquo;</a></p>
  		</div>
<div class="row">
 	<div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-star fa-stack-2x"></i>
              <i class="fa fa-star fa-users-1x fa-inverse"></i>
            </span>
 			  <h3>Food</h3>
	 			<p> More text can go here what the <span class="emphasis">application will do</span> and etc etc etc etc. More text goes here.Click here to get involved</p>
	 			<p><a class="btn btn-default" href="#" role="button">Start Learning &raquo;</a></p>
 	</div>
 <div class="row">
 	 <div class="col-md-4">
 	 	 <span class="fa-stack fa-4x">
              <i class="fa fa-rocket fa-stack-2x"></i>
              <i class="fa fa-rocket fa-users-1x fa-inverse"></i>
          </span>
 				<h3>Farmers</h3>
 					<p>Text goes here to describe <span class="emphasis">how we love to support </span>support farmers around the world & empower them with knowledge. Click here to get involved</p>
 					<p><a class="btn btn-default" href="#" role="button">Start Learning &raquo;</a></p>
 	</div>
 </div>
</div>

  
